* {
    padding: 0px;
    margin: 0px;
}

/* Body */

body {
    background-color: black;
    color: #fafafa;
}

/* header */

header {
    border-top: solid 15px rgb(2, 1, 19);

}


.miNavbar {
    background-color: #fafafa;
    color: black;

}

.misUls :hover {
    background-color: black;
    color: wheat;
}


.miLogo {
    width: 170px;
}


/* banner */

.banNer {
    display: flex;
    font-size: 30px;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 85vh;
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url(../img/tienda-de-ropa-urbana.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.bTn {
    font-family: serif;
    background-color: #050505;
    padding: 15px 20px;
    text-align: center;
    color: rgb(253, 250, 250);
    border-radius: 20px;
    border-color: #fafafa;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;

}

@media (max-width:500px) {

    .banNer {
        font-size: 15px;
        height: 40vh;
    }

    .bannerContenido {
        font-size: 15px;
    }

    .bannerContenido h2 {
        font-size: 18px;
    }

    .bTn {
        padding: 2px 2px;
    }
}

/* Tarjetas */

.cardHerramienta {
    text-align: center;
    margin: 10px;

}

.cardProducto {
    margin-bottom: 20px;
}

.cardHerramienta h5 {
    text-transform: uppercase;
    color: rgb(13, 3, 65);
}